
.navbar{
  position: sticky;
  width: 100%;
  background: #ffffff;
top: 0;
  overflow: hidden;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  text-align: right;
}

.menu-items{
  order: 2;
  display: flex;
  margin: 1.5% 15% 0% 70%;
  text-align: right;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1rem;
}

.navbar a{
  color: #0E0E14;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover{
  color: #b22f4e;
}


body{
    font-family: Poppins;
    color: black;
}

h1{
    font-size: 3em;
    text-decoration: none;
    font-family: Poppins;
    margin: 0%;
}

h2{
    font-size: 2em;
    text-align: center;
}

p.uppertitle{
    font-size: 1em;
    color: #393939;
    margin-bottom: 0%;
}

.tab {
    display: inline-block;
    margin-left: 5%;  /* for e.g: value = 40px*/
}

.twogrid{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1.5%;
    margin-left: 10%;
    margin-bottom: -30%;
}

ul{
    margin: 0%;
}

p.keytitle{
    font-size: 1.2em;
    margin: 0%;
    margin-bottom: 1%;
}

p.centertext{
    margin: 0% 15% 0% 15%;
}

li.keyparts{
    font-size: 1em;
    margin: 0%;
}

.threegrid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 2%;
}

.projecttitle{
    width: auto;
    height: 40%;
    display: block;
}

@font-face {
  font-family: Poppins;
  src: url(Fonts/Poppins-Regular.ttf);
}