body, html {
  height: 100%;
  margin: 0;
  background-image: url("Images/white-linen-background.jpg");
  font-family: SpecialElite;
}


.title {
  position: relative;
  text-align: center;
  color: white;
}

.titlebutton{
  font-family: Fanzine;
  font-size: 3vw;
  margin: 5%;
  width: 125%;
  display: grid;
}

a{
  text-decoration-line: none;
  color:black;
}

.titlebuttoncontainer{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  position: absolute;
  right: 15%;
  margin-top: -8.5%;
}

.flagcontainer{
  display: grid;
  gap: 20%;
  position: absolute;
  margin-top: -8.5%;
  right: 2%;
  width: 50px;
  height: 80px;
  overflow: hidden;
}

button.enflag{
  background-image: url('Images/ukflag.jpg');
  background-size: cover;
  border: solid;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.nlflag{
  background-image: url('Images/dutchflag.jpg');
  background-size: cover;
  border: solid;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.lang-btn{
  background-size: cover;
  border: solid;
  cursor: pointer;
  overflow: hidden;
}

img.main{
  background-size: cover;
  width: 50%;
  position: absolute;
  margin-top: -10%;
  top: 0px;
  right: -5%;
  overflow: hidden;
}

.menu-items{
  order: 2;
  display: flex;
  margin: 1.5% 15% 0% 70%;
  text-align: right;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5vw;
  font-size: 1vw;
}

.navbar a{
  color: #0E0E14;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover{
  color: #b22f4e;
}

img{
  width: 25%;
}

h1{
    font-size: 3.5vw;
    text-decoration: none;
    font-family: Fanzine;
    margin: 0%;
    margin-right: 25%;
}

h2{
  font-size: 3vw;
    text-align: center;
    font-family: 'Fanzine';
}

p.uppertitle{
    font-size: 1.5vw;
    color: #393939;
    margin-bottom: 0%;
}

.tab {
    display: inline-block;
    margin-left: 5%;  /* for e.g: value = 40px*/
}

.twogrid{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 6%;
  margin-left: 10%;
  margin-top: 10%;
}

p.plaatboeftext{
    font-size: 1.5vw;
    text-align: left;
    margin: 0%;
    margin-right: 15%;
    margin-top: 8%;
}

.projecttwogrid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5% 0%;
}

img.plaatboefimg{
    width: 80%;
    margin: 0% 10%;
    border-radius: 2%;
}

.center{
  text-align: center;
}

img.plaatboefdesktop{
  width: 60%;
}

ul{
    margin: 0%;
}

p.keytitle{
    font-size: 1.7vw;
    margin: 0%;
    margin-bottom: 1%;
}

p.centertext{
    margin: 0% 15% 0% 15%;
    font-size: 1.5vw;
}

li{
  font-size: 1.5vw;
}

li.keyparts{
    font-size: 1.5vw;
    margin: 0%;
}

p.keyparts{
  font-size: 1.4vw;
}

.threegrid{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 2%;
}

.projectimg{
    width: 100%;
    display: block;
    margin-bottom: 0%;
      margin-top: -15%;
}

.centerimg{
    display: block;
  margin: 3% auto 0% auto;
  width: 60%;
}

.solvelist{
  margin: 2% 15% 0% 15%;
}

.imagerow{
    display: flex;
    margin: 2% 0% 0% 20%;
    text-align: center;
}

.references{
  margin: 3% 10% 0% 10%;
}

p.referencetext{
  color: #393939;
  font-size: x-small;
}

footer {
    text-align: right;
}

.footerbutton{
  position: relative;
  padding: 1.5rem;
  font-family: SpecialElite;
  text-align: center;
  font-size: 1.2vw;
  border: none;
  background: none;
}

.footerbutton::before,
.footerbutton::after {
  content: ""; /* Required for pseudo-elements to render */
  position: absolute;
  border: 2px solid black; /* Border color and thickness */
}
 
/* Top-Left Corner */
.footerbutton::before {
  top: 10px; /* Distance from top edge */
  left: 10px; /* Distance from left edge */
  width: 40px; /* Horizontal line length */
  height: 30px; /* Vertical line length */
  border-right: none; /* Hide right border */
  border-bottom: none; /* Hide bottom border */
}
 
/* Bottom-Right Corner */
.footerbutton::after {
  bottom: 10px; /* Distance from bottom edge */
  right: 10px; /* Distance from right edge */
  width: 40px; /* Horizontal line length */
  height: 30px; /* Vertical line length */
  border-left: none; /* Hide left border */
  border-top: none; /* Hide top border */
}

.cornerborderbutton {
  position: relative; /* Required for absolute positioning of pseudo-elements */
  width: 300px;
  padding: 2rem;
  font-family: SpecialElite;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
}

.cornerborderbutton::before,
.cornerborderbutton::after {
  content: ""; /* Required for pseudo-elements to render */
  position: absolute;
  border: 2px solid black; /* Border color and thickness */
}
 
/* Top-Left Corner */
.cornerborderbutton::before {
  top: 10px; /* Distance from top edge */
  left: 10px; /* Distance from left edge */
  width: 40px; /* Horizontal line length */
  height: 30px; /* Vertical line length */
  border-right: none; /* Hide right border */
  border-bottom: none; /* Hide bottom border */
}
 
/* Bottom-Right Corner */
.cornerborderbutton::after {
  bottom: 10px; /* Distance from bottom edge */
  right: 10px; /* Distance from right edge */
  width: 40px; /* Horizontal line length */
  height: 30px; /* Vertical line length */
  border-left: none; /* Hide left border */
  border-top: none; /* Hide top border */
}

@media screen and (max-width: 1024px) {
  .menu-items {
    order: 2;
    display: flex;
    margin: 4% 0% 0% 0%;
    text-align: left;
  }

  .projectimg{
    width: 25%;
    display: block;
    margin-bottom: 0%;
    margin-top: -15%;
}

  body{
    margin: 0% 10%;
  }
  
  .twogrid{
    display: block;
    margin: 0%;
  }

  .threegrid{
    display: block;
    margin: 0%;
  }

  p.uppertitle{
    font-size: 0.5vw;
    margin: 0%;
  }

  .tab{
      margin: 0%;
  }

  h1{
    font-size: 2vw;
    margin: 0%;
  }

  p.keytitle{
    font-size: 0.8vw;
    margin: 0%;
  }

  p.keyparts{
    font-size: 1.5vw;
    margin: 0%;
  }

  h2{
    font-size: 1.2vw;
    margin: 4% 0%;
  }

  li.keyparts{
    font-size: 0.8vw;
  }

  .solvelist {
    margin: 2% 3% 0% 3%;
}

  a.button{
  width: 100px;
  font-size: 0.8vw;
}

p.centertext{
  font-size: 0.8vw;
  margin: 0%
}

li{
  font-size:0.8vw;
}

p.referencetext{
  font-size: 0.5vw;
}

.projecttwogrid{
  display: block;
}

p.plaatboeftext{
  font-size: 0.8vw;
  margin-right: 5%;
}

}


@font-face {
  font-family: SpecialElite;
  src: url(Fonts/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: Fanzine;
  src: url(Fonts/fanzine.regular.ttf);
}
