body, html {
  height: 100%;
  margin: 0;
  background-image: url("Images/white-linen-background.jpg");
  font-family: SpecialElite;
}

h1{
    font-size: 5em;
    text-align: center;
    margin-top: 5%;
}

p{
    font-size: 1.5em;
    text-align: center;
    margin: 5% 15% 5% 15%;
}

.gallery{
    margin: 0% 15%;
    text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 2%;
}
footer{
  text-align: right;
}

.footerbutton{
  background-color: #ffffff;
  color: #0E0E14;
  border: none;
  padding: 10px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 200px;
  font-family: Poppins;
  margin-right: 13%;
  border-radius: 50px;
}

.footerbutton:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar{
  position: sticky;
  width: 100%;
  background: #ffffff;
  top: 0;
  overflow: hidden;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  text-align: right;
  padding-bottom: 5px;
}

.menu-items{
  order: 2;
  display: flex;
  margin: 1.5% 15% 0% 70%;
  text-align: right;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1rem;
}

.navbar a{
  color: #0E0E14;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover{
  color: #b22f4e;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .menu-items {
  order: 2;
  display: flex;
  margin: 4% 0% 0% 0%;
  text-align: left;
  }

    h1{
    font-size: 2em;
  }

  p{
    font-size: 1em;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column {
    flex: 100%;
    max-width: 100%;
  }
}



@font-face {
  font-family: SpecialElite;
  src: url(Fonts/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: Fanzine;
  src: url(Fonts/fanzine.regular.ttf);
}