body, html {
  height: 100%;
  margin: 0;
  background-image: url("Images/white-linen-background.jpg");
  font-family: SpecialElite;
}


.title {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10%;
}

.titlebutton{
  font-family: Fanzine;
  font-size: 3vw;
  margin: 5%;
  width: 125%;
  display: grid;
}

a{
  text-decoration-line: none;
  color:black;
}

.titlebuttoncontainer{
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  position: absolute;
  right: 15%;
  margin-top: -8.5%;
}

.flagcontainer{
  display: grid;
  gap: 20%;
  position: absolute;
  margin-top: -8.5%;
  right: 2%;
  width: 50px;
  height: 80px;
  overflow: hidden;
}

button.enflag{
  background-image: url('Images/ukflag.jpg');
  background-size: cover;
  border: solid;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.nlflag{
  background-image: url('Images/dutchflag.jpg');
  background-size: cover;
  border: solid;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.lang-btn{
  background-size: cover;
  border: solid;
  cursor: pointer;
  overflow: hidden;
}

img.main{
  background-size: cover;
  width: 50%;
  position: absolute;
  margin-top: -10%;
  top: 0px;
  right: -5%;
  overflow: hidden;
}

h1{
    font-size: 5em;
    text-align: center;
    margin-top: 5%;
    font-family: 'Fanzine';
}

p{
    font-size: 1.5em;
    text-align: center;
    margin: 0% 15% 2% 15%;
}

.gallery{
    margin: 0% 15%;
    text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 2%;
}

footer {
    text-align: right;
}

.footerbutton{
  position: relative;
  padding: 1.5rem;
  font-family: SpecialElite;
  text-align: center;
  font-size: 1.2vw;
  border: none;
  background: none;
}

.footerbutton::before,
.footerbutton::after {
  content: ""; /* Required for pseudo-elements to render */
  position: absolute;
  border: 2px solid black; /* Border color and thickness */
}
 
/* Top-Left Corner */
.footerbutton::before {
  top: 10px; /* Distance from top edge */
  left: 10px; /* Distance from left edge */
  width: 40px; /* Horizontal line length */
  height: 30px; /* Vertical line length */
  border-right: none; /* Hide right border */
  border-bottom: none; /* Hide bottom border */
}
 
/* Bottom-Right Corner */
.footerbutton::after {
  bottom: 10px; /* Distance from bottom edge */
  right: 10px; /* Distance from right edge */
  width: 40px; /* Horizontal line length */
  height: 30px; /* Vertical line length */
  border-left: none; /* Hide left border */
  border-top: none; /* Hide top border */
}


.menu-items{
  order: 2;
  display: flex;
  margin: 1.5% 15% 0% 70%;
  text-align: right;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1rem;
}

.navbar a{
  color: #0E0E14;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover{
  color: #b22f4e;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .menu-items {
  order: 2;
  display: flex;
  margin: 4% 0% 0% 0%;
  text-align: left;
  }

    h1{
    font-size: 2em;
    margin-top: 20%;
  }

  p{
    font-size: 1em;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen  and (max-width: 1400px) and (min-width: 768px)  { /* Specific to this particular image */
  h2{
    margin-top: 15%
  }
  .flagcontainer{
    width: 40px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) { /* Specific to this particular image */
  .flagcontainer{
    width: 30px;
    height: 45px;
  }

}

@media screen and (max-width: 426px) and (min-width: 100px) { /* Specific to this particular image */
  img.main {
    width: 80%;
    margin-top: -20%;
  }

  .flagcontainer{
    width: 25px;
    height: 40px;
    margin-top: -18%;
  }
  
  .titlebuttoncontainer {
  right: 20%;
  margin-top: -18%;
  }

  .titlebutton {
  font-size: 5vw;
  }

  .footerbutton{
  font-size: 2.5vw;
  }

  p{
      text-align: left;
  }
}



@font-face {
  font-family: SpecialElite;
  src: url(Fonts/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: Fanzine;
  src: url(Fonts/fanzine.regular.ttf);
}